.common-section {
 margin: 2rem 0;
}
.banner {
 background-size: cover;
 width: 100%;
 border-radius: 20px;
 filter: blur(1.7px);
}
.banner-parent {
 filter: blur(100%);
 height: 400px;
 overflow: hidden;
}
.inputs {
 margin-top: 3rem !important;
}
.paginate {
 display: flex;
 gap: 10px;
 justify-content: center;
 margin-bottom: 2rem;
}
.paginate a {
 background-color: var(--mainColor);
 color: white;
 padding: 5px 10px;
 border-radius: 5px;
}
