.testimonial {
 margin: 2rem auto;
}
.testimonial .container {
display: flex;
flex-wrap: wrap;

}
.slider {
 background: var(--secondaryColor);
width: 100%;
padding: 20px;
border-radius: 10px;
padding-bottom: 30px;
box-shadow: #1e1e2459 0px 7px 29px 0px;
margin-bottom: 2rem;
}
.testimonial span {color:rgb(248, 50, 50)}